/* ProductListing.module.css */
.productListing {
    padding: 10px;
    margin-bottom: 20px;
}

.productContainer {
    display: flex;
}

.product {
    background-color: #ccc;
    color: #562C2C;
    padding: 10px;
    margin-right: 10px;
    width: 200px; /* Set a fixed width for each product */
}

/* Adjust the title alignment */
.productTitle {
    text-align: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .productContainer {
        flex-direction: column; /* Stack products vertically on smaller screens */
        align-items: stretch; /* Stretch products to full width */
    }

    .product {
        width: 100%; /* Set product width to 100% on smaller screens */
    }
}
