/*app/page.module.css*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* Site Plan styles */
.h1, .h2, .h3, .h4 {
    font-family: Rubik, Arial, 'Times New Roman';
}

.h1 {
    color: #96CE8C;
}

.h2, .h3 {
    color: #F5DFBB;
}

.p {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 2px 10% 2px 10%;
}

.hr {
    height: 3px;
    margin: 35px;
    background: #F5DFBB;
}

.header {
    background-color: #F2A45C;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.header-h1 {
    font-size: 130%;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.section img {
    max-width: 50%;
}

.unordered-list {
    background-color: #ececec;
    color: #96CE8C;
    margin-left: 20%;
    width: 60%;
    text-align: start;
    border: 1px solid black;
}

.unordered-list {
    margin-left: -0.1rem;
}

.table {
    margin-top: 20px;
    justify-items: center;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
}

.th {
    display: table-cell;
    font-weight: bold;
    background-color: #999;
    vertical-align: inherit;
    text-align: center;
}

.td {
    padding: 2%;
}

.primary {
    background-color: #562C2C;
    color: white;
}

.secondary {
    background-color: #F2A45C;
}

.accent1 {
    background-color: #F5DFBB;
}

.accent2 {
    background-color: #96CE8C;
}

.typography {
    margin: 50px 50px;
}

.colored {
    background-color: #ececec;
    color: #96CE8C;
    padding: 3%;
}

.footer {
    background-color: #F2A45C;
    color: black;
    text-align: center;
    padding: 3em;
    margin: 50px 0px 0px 0px;
    font-family: Roboto, Helvetica, sans-serif;
}

/* Global styles */
.global {
    display: block;
}

.globalBody {
    margin: 0;
}

.content {
    margin: 2em;
}


/* Navigation styles */
.topNav {
    background-color: #aec5eb;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #aec5eb;
}

.navLink {
    text-decoration: none;
    background-color: #3a405a;
    color: white;
    padding: .75em;
    margin: 2rem;
}

.navLink:hover {
    background-color: #aec5eb;
    color: black;
}

/* Landing styles */
.logo {
    position: absolute;
   
    padding: .75rem;
  
    left: 7rem;
    top: 6rem;
    text-align: center;
}

.heroTitle {
    max-width: 16rem;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
}

.landingImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.landingBanner {
    position: absolute;
    left: 8rem;
    top: 10rem;
}

.loginBtn {
    text-decoration: none;
    color: white;
    background-color: #3a405a;
    padding: .75rem;
    width: 3rem;
    font-size: 2rem;
    border-radius:8px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

.loginBtn:hover {
    background-color: #aec5eb;
    color: black;
}

/* Home Page styles */
.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlightParent {
    display: flex;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    background-color: #F5DFBB;
}

.hover_box {
    display: flex;
    background-color: #aec5eb;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.hover_box:hover {
    box-shadow: .75rem .75rem #3A405A;
    transition: box-shadow 5s ease-in-out;
}