.container {
    background-color: #562c2c;
    color: #ffffff; /* Set text color to white */
    padding: 10px;
  }
  
  .title {
    color: #F5DFBB;
  }
  
  .productPage {
    background-color: #562c2c;
    color: #ffffff; /* Set text color to white */
    padding: 10px;
  }